EXPO_PUBLIC_CARTRIDGE_PRESET=
# Optional override for redirect callback URL.
# If unset, the app uses Expo Linking.createURL("cartridge/callback").
# EXPO_PUBLIC_CARTRIDGE_REDIRECT_URL=tictactoe://cartridge/callback
EXPO_PUBLIC_CARTRIDGE_RPC=https://api.cartridge.gg/x/starknet/sepolia
# For mainnet use:
# EXPO_PUBLIC_CARTRIDGE_RPC=https://api.cartridge.gg/x/starknet/mainnet
EXPO_PUBLIC_CARTRIDGE_URL=https://x.cartridge.gg
EXPO_PUBLIC_ENABLE_STARKNET=true
EXPO_PUBLIC_STARKNET_NETWORK=SN_SEPOLIA
# this is the address of the tic-tac-toe contract on sepolia
EXPO_PUBLIC_TIC_TAC_TOE_CONTRACT_ADDRESS=0x03727da24037502a3e38ac980239982e3974c8ca78bd87ab5963a7a8690fd8e8
